
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-family:'Montserrat', sans-serif;;
}
.body {
    margin: 15px;
    background-color: aliceblue;
}




.header {
    height: 1vh;
    background-image: linear-gradient( to right, #3d688a,#8bbbc9 );
    /* clip-path: polygon(0 0, 100% 0, 100% 33%, 70% 33%, 38% 52%, 0 52%); */
    background-size: cover;
    position: relative;
    top: 15vh;
    z-index: 1;
    border-radius: 9PX;
}

.Logo-box {
    position: absolute;
    display: block;
    top: -12vh;
    left: 60%;
    transform: translate(-8%, -20%);
    left: 100px;

   
}

.Logo {
    max-width: 47%;
    max-height: 50%;
    
   
} 
.Nav-Box {
   
    position: relative;
    top:0%;
    background-size: cover;
 
    
}

.Nav-barra {
    z-index: 0;
    display:block;
    


  
}
.Nav-Button {
    display:flex;
    position:absolute;
    top: 5vh;
    left: 110vh;
    transform: translate(-69% -70%) ;
    
}

.Nav-btn {
    margin-right: 20px;
    padding: 10px;
    border-style: none;
    display: inline-block;
    
    background-image: linear-gradient( to right, #3d698a65,#327c9269 );
    color: #ffffff;
}
.Nav-btn:hover {
    color: #ffff;
    border-radius: 6px;
    transition: 0.5s;
}

.Dropdown {
    display: none;
    position: absolute;
    z-index: 2;
    top: 80%;
    left: 70%;
    border: none;
    color: rgb(255, 0, 0);
}


.Doctores {
    height: 95vh;
    position: relative;
    top: 19vh;
    padding-top: 600px;
    background-image: linear-gradient(to right , hsla(206, 39%, 39%, 0.609),hsla(195, 36%, 67%, 0)), url(Fondo.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#Menudown {
    background-color: #3d698a8e;
}

.Descripcion {
    background-color: #0000003c;
    padding: 5vh;
    margin-left: 20px;
    border-radius: 8px;
    color: #ffff;
    text-align: center;
    position: absolute;
    top: 50vh;
    width: 45%;
    overflow-wrap: break-word;
    transform: translate(0,-50%);
}

.footer {
    background-image: linear-gradient(to right , hsla(206, 39%, 39%, 0.609),#8bbac940), url(Footer.jpg);
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    height: 24vh;
    width: 100%;
    position: relative;
    margin-top: 22vh;
    border-radius: 8px;
}

.Social {
    display: flex;
    align-items: center;
    font-size: 10px;
    /* margin-right: 0vh; */
    padding-right: 0vh;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
}

.Correos {
    padding-top: 13%;
    border-left: double;
    padding-left: 3vh;

}
.Correos:first-child {
    padding-top: 0%;
}
.Telefonos {
    position: relative;
    top: 50%;
    margin-right: 11vh;
}

.Direccion {
    margin-top: 1vh;

}
.Media {
    padding-right: 1vh;
    font-size: 50px;
    margin-right: 6vh;
    /* border-right: double; */
    position: relative;
    left: -103%;
    color: #000000;
}

@media (max-width: 768px) {
    .Logo {
      max-width: 40%;
      
    }
    .Logo-box {
        position: absolute;
        left: 14%;
        top: -11vh; 
    }

    .Dropdown {
    display: block;
    position: relative;
    top: -8vh;
        

    }
    .Nav-Button {
        display: none;
   
       }


  }
  @media (max-width: 800px){
    .Nav-Button {
        position: absolute;
        top: 70%;
        left: 59%;;
        
    }
    .Nav-btn {
        margin-right: 0px;
    }
  }

  @media (max-width: 950px){
    .Nav-Button {
        position: absolute;
        top: 4vh;
        left: 47vh;
        
    }
    .Nav-btn {
        margin-right: 0px;
    }
    .Descripcion {
        padding: 1vh;
        width: 90%;
        font-size: smaller;
    }
  }

    
  
  
  @media (max-width: 480px) {
    .Logo {
      max-width: 53%;
    }
    .Nav-Box {
        top: -15vh;
        left: -4vh;
    }
    .Nav-Button {
     display: none;

    }
    .Dropdown {
        display: inline;
        position: relative;
        left: 26vh;
        top: -5vh;
    }
        
    .Descripcion {
        padding: 1vh;
        width: 90%;
        font-size: x-small;
    }
    .footer{
        background-image: linear-gradient(to right , hsla(206, 39%, 39%, 0.609),#8bbac940), url(Footer.jpg);
        background-position: top;
        background-repeat: no-repeat;
        display: flex;
        height: 80vh;
        width: 100%;
        position: relative;
        margin-top: 22vh;
        border-radius: 8px;
    }
    .Social {
        display: inline-block;
        width: 79%;
        align-items: center;
        font-size: 10px;
        /* margin-right: 0vh; */
        padding-bottom: 3vh;
        background-size: cover;
        position: absolute;
        top: 74%;
        left: 54%;
        transform: translate(-50%, -50%);
        
    }
    .Media {
        padding-right: 9vh;
        font-size: 46px;
        margin-right: -4vh;
        border-right: none;
        position: relative;
        left: 0vh;
        color: rgb(0, 0, 0);

  }
  .Direccion {
    margin-top: 2vh;
    margin-bottom: 5vh;
    width: 30vh;
}
.Correos-Box{
    margin-bottom: 5vh;
    border-left: none;
}
}

